html,body {
    background: radial-gradient(#0367A6,#021526);
    max-width: 100vw;
    overflow-x: hidden;
}

::-webkit-scrollbar{
    background-color: #021526;
    width: 1px;
}

::-webkit-scrollbar-thumb{
    background-color: #0367A6;
    border-radius: 10px;
}
